DATABASE_URL="postgresql://neondb_owner:npg_DYeiQOw7P4Lp@ep-wispy-rain-ayhlcxxp-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_DYeiQOw7P4Lp@ep-wispy-rain-ayhlcxxp.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEON_API_KEY="napi_kd7q2gfacaczhlorpdxn5ah8uh8lniw6gtuwc78x2348g528a48tbx4d9fkly5xv"
PORT=3000
